<div class="menu">
  <mat-toolbar color="primary">
    <div class="logo-container">
      <img src="assets/Logo-UPS-Blanco.png" alt="Logo" class="logo">
    </div>
    <span class="spacer"></span>
    <button mat-button routerLink="/search" routerLinkActive="active-link">Buscar</button>
    <button mat-button routerLink="/auth" routerLinkActive="active-link" *ngIf="!(isLoggedIn$ | async)">Acceso</button>
    <button mat-button routerLink="/edit-user" routerLinkActive="active-link" *ngIf="isLoggedIn$ | async">Configuraciones Avanzadas</button>
    <button mat-button (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-container">
    <!-- Sección Institución -->
    <div class="footer-section">
      <h3>Institución</h3>
      <ul>
        <li><a href="https://www.ups.edu.ec/autoridades">Autoridades</a></li>
        <li><a href="https://www.ups.edu.ec/organigrama">Organigrama</a></li>
        <li><a href="https://www.ups.edu.ec/planificacion">Planificación</a></li>
        <li><a href="https://www.ups.edu.ec/normativa">Normativa</a></li>
        <li><a href="https://www.ups.edu.ec/transparencia">Transparencia</a></li>
        <li><a href="https://www.ups.edu.ec/informacion-financiera">Información Financiera</a></li>
        <li><a href="https://www.ups.edu.ec/imagen-institucional">Imagen Institucional</a></li>
        <li><a href="https://www.ups.edu.ec/participacion-ciudadana-rendicion-de-cuentas">Participación Ciudadana</a></li>
        <li><a href="https://www.ups.edu.ec/archivo-institucional">Archivo Institucional</a></li>
        <li><a href="https://www.ups.edu.ec/consultas-comprobantes">Comprobantes electrónicos</a></li>
        <li><a href="https://www.ups.edu.ec/contactos">Contacto</a></li>
        <li><a href="https://www.ups.edu.ec/web/guest/museo-abyayala">Museo Abya Yala</a></li>
      </ul>
    </div>

    <!-- Sección Identidad Salesiana -->
    <div class="footer-section">
      <h3>Identidad Salesiana</h3>
      <ul>
        <li><a href="https://www.ups.edu.ec/razon-de-ser">Razón de Ser</a></li>
        <li><a href="https://www.ups.edu.ec/resena-historica#resena">Reseña Histórica</a></li>
        <li><a href="https://www.ups.edu.ec/don-bosco">San Juan Bosco</a></li>
        <li><a href="https://www.ups.edu.ec/ius">IUS</a></li>
      </ul>
    </div>

    <!-- Sección Prensa -->
    <div class="footer-section">
      <h3>Prensa</h3>
      <ul>
        <li><a href="https://www.ups.edu.ec/evento-listado?pg=0">Eventos</a></li>
        <li><a href="https://www.ups.edu.ec/noticias-listado?pg=0">Noticias</a></li>
        <li><a href="https://www.ups.edu.ec/revistas-informativas">Revistas Informativas</a></li>
        <li><a href="https://www.ups.edu.ec/abya-yala-ups">Abya Yala - UPS</a></li>
        <li><a href="https://abyayala.org.ec/">Editorial Abya Yala</a></li>
        <li><a href="https://archivodigital.ups.edu.ec/SOLICITUD/sgad/index.xhtml">Colección Documental</a></li>
        <li><a href="https://www.ups.edu.ec/redes-sociales-oficiales">Redes Sociales Oficiales</a></li>
        <li><a href="https://www.ups.edu.ec/feed">Feed RSS</a></li>
        <li><a href="https://www.ups.edu.ec/informativos-salesianos">Informativos Salesianos</a></li>
      </ul>
    </div>

    <!-- Redes Sociales -->
    <div class="footer-section social-section">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <!-- Facebook -->
        <a href="https://www.facebook.com/UPSalesianaEc/" class="social-icon facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      
        <!-- Instagram -->
        <a href="https://www.instagram.com/upsalesianaec/" class="social-icon instagram">
          <i class="fab fa-instagram"></i>
        </a>
      
        <!-- Twitter -->
        <a href="#" class="social-icon x">
          <i class="fab fa-x-twitter"></i> <!-- Nuevo icono de X -->
        </a>
      
        <!-- YouTube -->
        <a href="https://www.youtube.com/@upsalesianaec" class="social-icon youtube">
          <i class="fab fa-youtube"></i>
        </a>
      
        <!-- LinkedIn -->
        <a href="https://upsalesiana.ec/inups" class="social-icon linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
      
        <!-- TikTok -->
        <a href="https://www.tiktok.com/@upsalesianaec" class="social-icon tiktok">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>

    </div>
  </div>

  <!-- Footer Inferior -->
  <div class="footer-bottom">
    <p>
      © {{ currentYear }} Universidad Politécnica Salesiana |
      <a href="#">Política de Privacidad</a> |
      <a href="#">Términos de Servicio</a>
    </p>
  </div>
</footer>